[Unit]
Description=Docmost Postgres Backup service

[Container]
Image=docker.io/library/postgres:18
ContainerName=docmost-backup
Secret=docmost_db_pw,type=env,target=PGPASSWORD
Environment=PGUSER=docmost
Environment=PGDATABASE=docmost
Environment=PGHOST=docmost_postgres
Environment=PGPORT=5432
Volume=/home/pascal/docmost/backup/:/mnt/backup
Entrypoint=/bin/bash
Exec=-c 'pg_dump -c -U docmost |  gzip > /mnt/backup/docmost-db-$(date +%Y-%m-%d).tar.gz'
Pod=docmost.pod
