[Unit]
Description=Syncthing Quadlet

[Container]
Image=docker.io/syncthing/syncthing:2.0.12
ContainerName=syncthing
PublishPort=46520:46520
Environment=STGUIADDRESS=0.0.0.0:46520
Environment=PUID=0
Environment=PGID=0
Volume=/home/pascal/syncthing/config:/var/syncthing
Volume=/home/pascal/syncthing/shares:/mnt/shares
Network=host

[Service]
Restart=always
ExecStartPre=/bin/sleep 2
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target default.target
